# Built application files
*.apk
*.ap_
*.aab
*.dex
*.class

# Generated & Build Files
bin/
gen/
out/
.gradle/
build/
.externalNativeBuild
.cxx/

# Local configuration & Secrets
local.properties
*.jks
*.keystore

# IDE and OS files
.idea/
*.iml
.navigation/
captures/
.DS_Store
Thumbs.db