# Built application files
*.apk
*.ap_
*.aab
*.dex
*.class

# Generated & Build Files
bin/
gen/
out/
.gradle/
build/
app/build/
.externalNativeBuild
.cxx/

# Release builds
app/release/

# Local configuration & Secrets
local.properties
*.jks
*.keystore
*.pem

# IDE and OS files
.idea/
*.iml
.navigation/
captures/
.DS_Store
Thumbs.db

# Logs
*.log
androidapptask-release-key